.card-info{
    background-image: linear-gradient(90deg, #156E72 0%, #99f1c8 100%);
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
    .active::after{
        content: '';
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        right: -7px;
        background-color: #156E72;
        transform: rotate(45deg);
    }
