    <div class="card text-center my-3" 
    (click)="sendDataToParent()"
    [ngClass]="{'active' : selectedId == singlefairscard.fairId}">
        <div class="card-header">
           <h4 class="text-white text-capitalize"> 
            <b>{{singlefairscard.fairName}}</b></h4>
        </div>
        <div class="card-body text-dark rounded">
            <p>
                Event Type : {{singlefairscard.type}}
            </p>
            <p>
                Event Date : {{singlefairscard.startDate *1000 | date}}
            </p>
        </div>
    </div>
