    <div class="card card-info text-center my-3 active" *ngIf="singlefairscard"
    (click)="sendDataToParent(singlefairscard.fairId)"
    [ngClass]="{active : selectedFair === singlefairscard.fairId}">
        <div class="card-header">
           <h4 class="text-white text-capitalize"> {{singlefairscard.fairName}}</h4>
        </div>
        <div class="card-body text-white rounded">
            <p>
                Event Type : {{singlefairscard.type}}
            </p>
            <p>
                Event Date : {{singlefairscard.startDate | date}}
            </p>
        </div>
    </div>
