.header{
    background-image: linear-gradient(90deg, #156E72 0%, #99f1c8 100%);
    color: #fff;
    padding: 4px;
}
.banner{
    position: relative;
}
.bannerImg{
    height: 300px;
    width: 790px;
    object-fit: cover;
}
.fairDetails h4{
    position: absolute;
    top: 5%;
    left: 20px;
    color: #fff;
    font-size: 24px;
}
.fairDetails p{
    position: absolute;
    top: 8%;
    left: 20px;
    font-size: 16px;
}
.fairDetails p.Deadline{
    position: absolute;
top: 10%;
left: 10px;

}
.schools-btn{
    button{
        background-color: rgb(234, 232, 232);
        padding: 12px;
        margin-top: 12px;
    }
}
.event-description{
    .text-muted,h4{
        color: rgb(177, 176, 176);
    }
}
